{% extends 'base.html' %}
{% load static %}

{% block title %}
(homepage)
{% endblock title %}



{% block under_menu_content %}

<!-- Start Login Register Area -->
<div class="htc__login__register bg__white ptb--130">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <li role="presentation" class="login active "><a  href="#login" role="tab" data-toggle="tab">Login</a></li>
                    <li role="presentation" class="register"><a id="submit" href="#register" role="tab" data-toggle="tab">Register</a></li>
                </ul>
            </div>
        </div>
        <!-- Start Login Register Content -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="htc__login__register__wrap">


                    <!-- Start Login Content -->
                    <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                        <form class="login form-group" action="/login" method="post" onsubmit="return true">
                            {% csrf_token %}
                            <input id="login_field" type="text" placeholder="User Name*">
                            <input id="password_field" type="password" placeholder="Password*">
                        </form>
                        <div class="tabs__checkbox">
                            <input type="checkbox">
                            <span> Remember me</span>
                            <span class="forget"><a href="#">Forget Pasword?</a></span>
                        </div>
                        <div class="htc__login__btn mt--30">
                            <a id="log_btn" type="submit" href="{% url 'login' %}">Login</a>
                        </div>
                        <div class="htc__social__connect">
                            <h2>Or Login With</h2>
                            <ul class="htc__soaial__list">
                                <li><a class="bg--twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>

                                <li><a class="bg--instagram" href="#"><i class="zmdi zmdi-instagram"></i></a></li>

                                <li><a class="bg--facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>

                                <li><a class="bg--googleplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Content -->


                    <!-- Start Register Content -->
                    <div id="register" role="tabpanel" class="single__tabs__panel tab-pane fade">
                        <form class="login" action="/register" method="post" onsubmit="return true">
                            {% csrf_token %}
                            <input id="login_field_reg" name="login_field_reg" type="text" placeholder="Name*">
                            <div id="login_error" class="error"></div>
                            <input id="email_field_reg" name="email_field_reg" type="email" placeholder="Email*">
                            <div id="email_error" class="error"></div>
                            <input id="password_field_reg" name="password_field_reg" type="password" placeholder="Password*">
                            <div id="password_error" class="error"></div>
                            <input id="password_confirmation_field" name="password_confirmation_field" type="password" placeholder="Password_confirm">
                            <div id="password_confirm_error" class="error"></div>
                        </form>
                        <div class="tabs__checkbox">
                            <input type="checkbox">
                            <span> Remember me</span>
                        </div>
                        <div class="htc__login__btn">
                            <a id="submit_reg" type="submit" href="{% url 'register' %}">register</a>
                        </div>
                        <div class="htc__social__connect">
                            <h2>Or Login With</h2>
                            <ul class="htc__soaial__list">
                                <li><a class="bg--twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a class="bg--instagram" href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                <li><a class="bg--facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a class="bg--googleplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
        <!-- End Login Register Content -->
    </div>
</div>
<!-- End Login Register Area -->
{% endblock under_menu_content %}

{% block content %}

{% endblock content %}