{% extends 'base.html' %}
{% load static %}

{% block title %}
    (products)
{% endblock title %}


{% block under_menu_content %}

<!-- Start Content Products -->
    <div class="container" style="min-height: 500px; background-color: white;">
        <div class="row">

            <!--Start Block Filters-->
            <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                <div class="htc__shop__left__sidebar">

                    <!-- Start Range -->
                    <div class="htc-grid-range">
                        <div class="header-filters" style="margin-bottom:20px;">
                            <h >FILTER</h>
                        </div>
                        <h4 class="section-title-4">FILTER BY PRICE</h4>


                        <div id="price_filtered" class="content-shopby">
                            <div class="price_filter s-filter clear">
                                <form action="#">
                                    <div id="slider-range"></div>
                                    <div class="slider__range--output">
                                        <div class="price__output--wrap">
                                            <div class="price--output">
                                                <span>Price :</span>
                                                <input name="amount" type="text" id="amount" readonly>
                                            </div>
                                            <div class="price--filter">
                                                <a id="a-click" type="submit" name="a-click" href="">Filter</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <!-- End Range -->

                    <!-- Start Product Cat -->
                    <div class="htc__shop__cat">
                        <h4 class="section-title-4">PRODUCT CATEGORIES</h4>
                        <ul class="sidebar__list">
                            <li><a href="#">Accessories <span>3</span></a></li>
                            <li><a href="#">Book <span>4</span></a></li>
                            <li><a href="#">Clothing <span>3</span></a></li>
                            <li><a href="#">Homelife <span>6</span></a></li>
                            <li><a href="#">Kids & Baby <span>10</span></a></li>
                            <li><a href="#">Stationery <span>3</span></a></li>
                            <li><a href="#">Health & Beauty <span>12</span></a></li>
                            <li><a href="#">Home Appliances <span>15</span></a></li>
                        </ul>
                    </div>
                    <!-- End Product Cat -->

                    <!-- Start Color Cat -->
                    <div class="htc__shop__cat">
                        <h4 class="section-title-4">CHOOSE COLOUR</h4>
                        <ul class="sidebar__list">
                            <li class="black"><a href="#"><i class="zmdi zmdi-circle"></i>Black<span>3</span></a></li>
                            <li class="blue"><a href="#"><i class="zmdi zmdi-circle"></i>Blue <span>4</span></a></li>
                            <li class="brown"><a href="#"><i class="zmdi zmdi-circle"></i>Brown <span>3</span></a></li>
                            <li class="red"><a href="#"><i class="zmdi zmdi-circle"></i>Red <span>6</span></a></li>
                            <li class="orange"><a href="#"><i class="zmdi zmdi-circle"></i>Orange <span>10</span></a></li>
                        </ul>
                    </div>
                    <!-- End Color Cat -->

                    <!-- Start Size Cat -->
                    <div class="htc__shop__cat">
                        <h4 class="section-title-4">PRODUCT CATEGORIES</h4>
                        <ul class="sidebar__list">
                            <li><a href="#">xl <span>3</span></a></li>
                            <li><a href="#">l <span>4</span></a></li>
                            <li><a href="#">lm <span>3</span></a></li>
                            <li><a href="#">ml <span>6</span></a></li>
                            <li><a href="#">m <span>10</span></a></li>
                            <li><a href="#">ml <span>3</span></a></li>
                        </ul>
                    </div>
                    <!-- End Size Cat -->

                    <!-- Start Tag Area -->
                    <div class="htc__shop__cat">
                        <h4 class="section-title-4">Tags</h4>
                        <ul class="htc__tags">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Stationery</a></li>
                            <li><a href="#">Homelife</a></li>
                            <li><a href="#">Appliances</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Baby</a></li>
                            <li><a href="#">Beauty</a></li>
                        </ul>
                    </div>
                    <!-- End Tag Area -->
                </div>
            </div>
            <!--End Block Filters-->

            <!--Start Block Subcategories Catalog-->
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 float-left-style">

                <div class="row">

                    {% for subcategory in subcategories %}
                    {% if subcategory.category == category_sub %}
                    <div class=" col-md-4 col-sm-4 col-xs-6 position-relative border-light"  style="padding:0px 5px 5px 5px">
                        <div  class="text-center" style="padding: 15px; position:absolute; top:50%; left: 50%;
                                    transform:translate(-50%, -50%); width:95%; background-color:#FFFFFF90;">
                            <a href="{% url 'subcategory' subcategory.id %}" class="h5 text-decoration-none" ><strong>{{subcategory.name}}</strong></a>
                        </div>
                        <img style="padding: 15px;" src="/media/{{subcategory.image}}" alt="subcategory image">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!--End Block Subcategories Catalog-->

            <!--Start Block Products Catalog-->
            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 float-left-style">
                <div class="container border-bottom"
                     style="height:10px; margin-top:30px;">
                </div>


                <div class="row" style="position: relative; left:15px;">

                    {% for subcategory in subcategories %} {% if subcategory.category == category_sub %}
                    {% for product in products %} {% if product.subcategory == subcategory %}

                    <!-- Start Single Product -->
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 ">
                        <div class="product">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img class="border-light" style="padding: 15px;" src="/media/{{product.image}}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                        <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                                        <li><a title="Wishlist" href="wishlist.html"><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details border-bottom" style="height: 110px;">
                                <h2 class="text-center"><a href="{% url 'product_details' product.id %}">{{product.name}}</a></h2>
                                <ul class="product__price" style="justify-content: center;">
                                    {% if product.discount %}
                                    <li class="old__price">{{product.price}}</li>
                                    <li class="new__price">{{product.discount_price}}</li>
                                    {% else %}
                                    <h6 style="margin-bottom:5px;">{{product.price}}</h6>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->

                    {% endif %} {% endfor %}
                    {% endif %} {% endfor %}
                </div>
                <div style="height: 30px; background-color: white;"></div>
            </div>
            <!--End Block Products Catalog-->

        </div>
    </div>
<!-- End Content Products -->
{% endblock under_menu_content %}